// Place all the styles related to the Dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//================== DOG SHOW PAGE =========================
.new-dog > p {
  margin-top: 100px;
  font-size: 36px;
  padding-bottom: 15px;
}